<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock%}</title>
    <link rel="stylesheet" typek="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <div id="container">
        <div class="header">
            <h1>Vertical Tank Maintenance</h1>
            <hr>
            <div class="topnav">
                <a class="active" href="index.html">Home</a>
                <a href="about.html">About</a>
                <a href="estimate.html">Estimator</a>
              </div>
            <hr>
        </div>
        <main>
         {% block body %}
            <!-- page content -->
         {% endblock%}
        </main>
        <footer>
            &copy; VTM 2020
        </footer>
    </div>

</body>
</html>