<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <h3>Vertical Tank Maintenance</h3>
        </div>
        <ul class="nav-links"> 
            <li>
                <a class="active" href="index.html">Home</a>
            </li>
            <li>
                <a href="about.html">About</a>
            </li>
            <li>
                <a href="estimate.html">Estimate</a>
            </li>
        </ul>
    </nav>

    <main>
        {% block body %}
        <!-- page content -->
        {% endblock %}
    </main>
    
    <footer>
        &copy; VTM 2020
    </footer>
    
</body>
</html>